# ============================================
# Git ignore - Proyecto CatchAI
# ============================================

# --- Entorno virtual ---
catchai/
venv/
.env/
*.env

# --- Archivos de configuración local ---
github_token.txt
config_github_token.pyc
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

# --- Archivos de logs y temporales ---
*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db


# --- Archivos de ejecución del servidor ---
*.pid
*.db
*.sqlite
uvicorn.log

# --- IDEs y herramientas ---
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# --- Archivos del sistema operativo ---
ehthumbs.db
Icon?
desktop.ini


# --- Modelos descargados o generados localmente ---
*.pt
*.onnx
checkpoints/
weights/
whisper-live/Storage/transcripciones.txt
whisper-live/Storage/transcripciones.json